<html>
<body>
  <main>
    <div class="card" >
      <div class="card__title">
        <div class="icon" [routerLink]="['/']">
          <a href="#"><img src="https://img.icons8.com/ios/50/000000/back--v1.png"/></a>
        </div>
        <h3 >{{productoId.category}}</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="image">
            <img [src]="productoId.api_featured_image" alt="">
          </div>
        </div>
        <div class="half">
          <div class="featured_text">
            <h1>{{productoId.name}}</h1>
            <p class="sub">{{productoId.category}}</p>
            <p class="price">{{productoId.price}}{{productoId.price_sign}}</p>
          </div>
          <div class="description">
            <p>{{productoId.description}}</p>
          </div>
          <span [ngClass]="{noStock : (productoId.price === '0.0')}" class="stock">Stock</span>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <h3>{{productoId.brand}}</h3> 
        </div>
        <div class="action" [ngClass]="{disable : (productoId.price === '0.0')}">
          <a [href]="productoId.product_link" >Add to cart</a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
